.container{
    margin: 30px 0px;
}
.card{
    margin: 0 10px !important;
    padding-right: 10px !important;
}
.infected{
    border-bottom: 15px solid blue;
}
.recovered{
    border-bottom: 15px solid green;
}
.deaths{
    border-bottom: 15px solid red;
}